/* .imgContainer{
    width:50%;
    background:url('../../Image/pngtree-young-man-is-shopping-online-and-delivery-service-png-image_2187794.jpg');
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-radius:.3rem;
} */