.FormContainer{
    display:flex;
    width:100%;
    background:rgb(101, 101, 238);
    justify-content:center;
    padding-top:3rem;
    align-items:center;
    align-content:center;
    height:100vh;
}
h2{
    text-align:center;
    color:rgb(101, 101, 238);
    font-weight:900;
    font-size:2rem

}
.form{
    background:#fff;
    padding:0 5rem;
    border-radius:1rem 1rem 1rem 1rem;
    width:400px;
}
.button{
    display:flex;
    align-items:center;
    align-content:center;
    justify-content:center;
    
}

.but{
    padding:1rem;
    border-radius:5px;
    background:rgb(101, 101, 238);
    color:#fff;
    font-size:1rem;
    font-weight:400;    
    border:none;
    width:100%;
    transition:all 1s ease
}

.but:hover{
    background:rgb(110, 110, 119);
    
}

label{
    display:block;
    margin-bottom:5px;
}

.input{
    width:100%;
    padding:15px;
    margin-bottom:5px;
    border:rgb(172, 165, 165) 2px solid;
    /* border-radius:.3rem; */
    
}
small{
    font-weight:500;
    color:rgb(101, 101, 238);
}
select{
    width:100%; 
    padding:15px;
    border:rgb(172, 165, 165) 2px solid;    
}
input:focus{
    border:rgb(172, 165, 165) 1px solid;
}